syntax: glob

*~
*.*.swp
*.orig
*.DS_Store
*.pyc

cm_webapp.pid

# Config files
cm_wsgi.ini
userData.yaml
snaps.yaml
paster.log
persistent_data.yaml

# Local env for easier uploads
cm.tar.gz
update_cm.sh
upload_cm_to_S3.py
/venv/
