syntax: glob

*~
*.*.swp
*.orig
*.DS_Store
*.pyc
*.sqlite3

cloudman/db.sqlite3
cloudman/cloudman/settings_local.py

.tox
build
docs/_build/
static/

CM2.sublime-project
CM2.sublime-workspace

/venv/
/.tox/
