responses<=0.12
git+https://github.com/celery/django-celery-results
responses<=0.12
brotlipy
paramiko
git+https://github.com/CloudVE/cloudbridge
git+https://github.com/CloudVE/djcloudbridge
# Leave cloudlaunch-cli before cloudlaunch-server due to coreapi version mismatch
git+https://github.com/CloudVE/cloudlaunch-cli
git+https://github.com/galaxyproject/cloudlaunch
-r requirements.txt
-e ".[test]"
