# for eclipse debugging
pydevd>=1.0.0
# get latest package versions for now
git+git://github.com/gvlproject/cloudbridge#egg=cloudbridge
git+git://github.com/CloudVE/djcloudbridge#egg=djcloudbridge
git+git://github.com/galaxyproject/cloudlaunch#egg=cloudlaunch-server
git+git://github.com/CloudVE/cloudlaunch-cli#egg=cloudlaunch-cli
-e ".[prod]"