Django==2.0.12
gunicorn[gevent]
# moto==1.1.11
# for eclipse debugging
pydevd>=1.0.0
# get latest package versions for now
git+https://github.com/gvlproject/cloudbridge#egg=cloudbridge
git+https://github.com/CloudVE/djcloudbridge#egg=djcloudbridge
# Leave cloudlaunch-cli before cloudlaunch-server due to coreapi version mismatch
git+https://github.com/CloudVE/cloudlaunch-cli#egg=cloudlaunch-cli
git+https://github.com/galaxyproject/cloudlaunch#egg=cloudlaunch-server
# for openid connect
# oic==0.13.0  # Fix this at this version or django-oidc acts up
git+https://github.com/jhuapl-boss/django-oidc#egg=django-oidc
git+https://github.com/CloudVE/boss-oidc.git#egg=boss-oidc
git+https://github.com/jhuapl-boss/drf-oidc-auth.git
-e ".[prod]"
