chart {
    display: inline;
    float: left;
    width:270px;
    height:140px;
}


/* Styling for the space usage meter element */
.meter_file_system_space_usage {
	text-align: center;
    vertical-align: middle;
 	font-size: small;
	width: 100%;   
}

/* The percentage */
.meter_file_system_space_usage:after {
	content: attr(display-value);
}

.cluster_node {
	float: left;
	margin: 5px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 5px;
    -khtml-border-radius: 4px;
}

.fs-remove {
    background: transparent url(/cloud/static/images/delete_icon.png) no-repeat;
}
.fs-remove:hover {
    background-image : url(/cloud/static/images/delete_icon_red.png);
}
.fs-persist{
    background: transparent url(/cloud/static/images/persist_bw.png) no-repeat;
}
.fs-persist:hover {
    background-image : url(/cloud/static/images/persist.png);
}
.fs-resize {
    background: transparent url(/cloud/static/images/disc_plus_bw.png) no-repeat;
}
.fs-resize:hover {
    background-image : url(/cloud/static/images/disc_plus.png);
}

.icon-button {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-left: 5px;
    text-indent: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
}

.help_link {
    color: #757575;
    font-size: 9px;
    padding: 0 5px;
    cursor: help;
}