chart {
    display: inline;
    float: left;
    width:270px;
    height:140px;
}


/* Styling for the space usage meter element */
.meter_file_system_space_usage {
	text-align: center;
    vertical-align: middle;
 	font-size: small;
	width: 100%;   
}

/* The percentage */
.meter_file_system_space_usage:after {
	content: attr(display-value);
}

.cluster_node {
	float: left;
	margin: 5px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 5px;
    -khtml-border-radius: 4px;
}