body{
    font:75% "Lucida Grande",verdana,arial,helvetica,sans-serif;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#minibar{
    padding:2px;
    background-color:orange;
    height:25px;
    border-bottom:1px solid black;
    color: #333333;
}

#cmhome{
    float:left;
}

#s_container{
    padding-top:5px;
}

h4{
    padding:5px 0px 0px 0px;
    margin:0px 5px 0px 20px;
    display:inline;
}

a:link, a:visited, a:active{
    color: #000000;
}