    <script type="text/ng-template" id="partials/fs-resize-dialog-template.html">
        <form id="fs_resize_form">
        <div class="modal-header" style="padding: 12px 12px 12px 12px">
            <div class="modal-header">
                <h3>Resize File System</h3>
            </div>
            <div class="modal-body" >
                <p>
                    Through this form you may increase the disk space available to
                    <span ng-show="!fs.name">Galaxy.
                    All of the cluster services (but not the cluster)</span> 
                    <span ng-show="fs.name">this file system. Any services using this file system</span>
                    <strong>WILL BE STOPPED</strong>
                    until the new disk is ready, at which point they will all be restarted. Note
                    that This may result in failure of any jobs currently running. Note that the new
                    disk size <strong>must be larger</strong> than the current disk size.
                    <p>During this process, a snapshot of your data volume will be created,
                    which can optionally be left in your account. If you decide to leave the
                    snapshot for reference, you may also provide a brief note that will later
                    be visible in the snapshot's description.</p>
                </p>    
                <label>New disk size (minimum {{ fs.size }}B,
                maximum 1000GB)</label>
                <div id="permanent_storage_size">
                    <input type="text" name="new_vol_size" id="new_vol_size"
                    placeholder="Greater than {{ fs.size }}B" size="25" ng-model="resize_details.new_vol_size" />
                    {{ resize_details.new_vol_size}}
                </div>
                <label>Note</label>
                <div id="permanent_storage_note">
                    <input type="text" name="vol_expand_desc" id="vol_expand_desc" value=""
                    placeholder="Optional snapshot description" size="50" ng-model="resize_details.vol_expand_desc" /><br/>
                </div>
                <label>or delete the created snapshot after filesystem resizing?</label>
                <input type="checkbox" name="delete_snap" id="delete_snap" ng-model="resize_details.delete_snap" /> If checked,
                the created snapshot will not be kept.
            </div>
            <div class="modal-footer">
                <button ng-click="resize($event, '${h.url_for(controller='root',action='expand_user_data_volume')}')" class="btn btn-warning" >Resize {{ fs.name }} file system</button>
                <button ng-click="cancel($event)" class="btn" >Cancel</button>  
            </div>
            <input name="fs_name" type="hidden" value="{{fs.name}}" />
        </div>
        </form>
    </script>
    
    <script type='text/javascript'>
    function FSResizeDialogController($scope, $http, dialog, fs, cmAlertService) {
  	  $scope.fs = fs;
  	  $scope.resize_details = {};  
  	  $scope.cancel = function($event, result) {
  	  	$event.preventDefault();
  	    dialog.close('cancel');
  	  };
  	  $scope.resize = function($event, url) {
  	    $http({
            method : 'POST',
            url : url,
            // TODO: DOM access in controller. Should be redone
            data : $('#fs_resize_form').serialize(),
            headers : {
                'Content-Type' : 'application/x-www-form-urlencoded'
            }
        }).success(function(data, status) {
            cmAlertService.addAlert(data, "info");
        }).error(function(data, status) {
            cmAlertService.addAlert(data, "error");
        });
  	    
  	    dialog.close('confirm');
  	  };
  	} 
    </script>