		<h5>Galaxy controls</h5>
		<div class="help_text">
			Use these controls to administer functionality of Galaxy.
		</div>
		<ul>
			<li>
				<span ui-if="getGalaxyDns()=='#'">Galaxy is currently inaccessible</span>
				<span  ui-if="getGalaxyDns()!='#'"><a href={{getGalaxyDns()}} target='_blank'>Access Galaxy</a></span> 
			</li>
			<li>
				Current Galaxy admins:
				<span id="galaxy_admins" ng-bind="getGalaxyAdmins()">N/A</span>
			</li>
			<li>
				<span>
				Add Galaxy admin users
				<span class="help_info">
					<span class="help_link">What will this do?</span>
					<div class="help_content" style="display: none">
						Add Galaxy admin users to Galaxy. This action simply
						adds users' emails to Galaxy's universe_wsgi.ini file
						and does not check of the users exist or register new
						users. Note that this action implies restarting Galaxy.
					</div>
				</span>
				<form id="galaxy_admin_users_form"
					action="${h.url_for(controller='root', action='add_galaxy_admin_users')}"
					method="post">
					<div class="input-append">
  						<input class="span2" type="text" value="CSV list of emails to be added as admins"
						style="width:288px" name="admin_users" size="45">
  						<button class="btn" type="submit" ng-click="addAdminUsers($event)">Add admin users</button>
					</div>
				</form>
				</span>
			</li>
			<li>
				Running Galaxy at revision:
				<span ui-if="getGalaxyRev()=='N/A'">N/A</span>
				<span ui-if="getGalaxyRev()!='N/A'"><a href="http://bitbucket.org/galaxy/galaxy-central/changesets/{{ getGalaxyRev().split(':')[1] }}" target='_blank'>
                      {{galaxy_rev}} </a></span>
			</li>
			<li>
				Update Galaxy from a provided repository
				<span>
					<span class="help_link">What will this do?</span>
					<div class="help_content" style="display: none">
						Update Galaxy source code from the repository provided
						in the form field. The repository can be the default
						<i>galaxy-central</i>
						or any other compatible branch.
						<br />
						Note that the update will be applied to the current
						instance only and upon termination of the cluster, the
						update will be reverted; the analysis results
						will be preserved. As a result, any analyses that depend
						on the updated functionality may not be preroducible
						on the new instance wihtout performing the update again.
						See
						<a
							href="https://bitbucket.org/galaxy/galaxy-central/wiki/Cloud/CustomizeGalaxyCloud"
							target="_blank">
							this page
						</a>
						about instructions on how to preserve the
						changes.
						<br />
						This action will:
						<ol>
							<li>Stop Galaxy service</li>
							<li>Pull and apply any changes from the provided repository.
								If there are conflicts during the merge, local changes
								will be preserved.
							</li>
							<li>Call Galaxy database migration script</li>
							<li>Start Galaxy service</li>
						</ol>
					</div>
				</span>
				<form id="galaxy_repository_form"
					action="${h.url_for(controller='root', action='update_galaxy')}"
					method="post">
					<div class="input-append">
  						<input class="span2" type="text" value="http://bitbucket.org/galaxy/galaxy-central"
						style="width:300px" name="repository" size="45">
  						<button class="btn" type="submit" ng-click="updateRespositoryUrl($event)">Update Galaxy</button>
					</div>
				</form>
			</li>
		</ul>
